<div class="chess-board">
  <div class="chess-row" *ngFor="let row of board; let i = index">
    <div
      class="chess-cell"
      [class.disabled]="!gameStarted"
      [class.visited]="isShortestPath(i, j) && knightVisitedGrid[i][j]"
      [class.obstacle]="board[i][j]"
      [class.even]="(i + j) % 2 === 0"
      [class.odd]="(i + j) % 2 === 1"
      *ngFor="let cell of row; let j = index"
      (click)="selectCell(i, j)"
    >
      <ng-container *ngIf="isSelected(i, j)">
        <fa-icon *ngIf="selectedCells[0]?.x === i && selectedCells[0]?.y === j && !knightGrid[i][j]"
          [icon]="faHouseFlag"></fa-icon>
        <fa-icon *ngIf="selectedCells[1]?.x === i && selectedCells[1]?.y === j && !knightGrid[i][j]"
          [icon]="faCrown"></fa-icon>
      </ng-container>
      <fa-icon *ngIf="knightGrid[i][j]" [icon]="faChessKnight"></fa-icon>
      <div class="order" *ngIf="isShortestPath(i, j) && !isSelected(i, j) && knightVisitedGrid[i][j]">{{ getCellOrder(i, j) }}</div>
    </div>
  </div>
</div>
<div class="game-controls">
  <button (click)="startGame()" [disabled]="gameStarted">Start Game</button>
  <button (click)="generateRandomObstacles()" [disabled]="!canGenerateObstacles()">Generate Random Obstacles</button>
  <button (click)="resetBoard()">Reset Board</button>
</div>
