.game-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.chess-board {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.chess-row {
  display: flex;
}

.chess-cell {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chess-cell.even {
  background-color: #f0d9b5;
}

.chess-cell.odd {
  background-color: #b58863;
}

.chess-cell.visited.even {
  background-color: #a3e3a8;
}

.chess-cell.visited.odd {
  background-color: #78b37b;
}

.chess-cell.obstacle {
  background-color: #333;
  opacity: 0.7;
}

.fa-house-flag,
.fa-crown {
  font-size: 1.5rem;
}

.chess-cell.disabled {
  cursor: not-allowed;
}

.movement-order {
  position: absolute;
  font-weight: bold;
  color: #000;
}
